@{
    Layout = null;
}
<!--
<p>Hello from about page</p>
<a href = "/Home/About">About</a>
-->

<p>Hello from About page</p>
<a href="/Home/About?country=russia">About Russia</a>
<a href="/Home/About?country=serbia">About Serbia</a>
 
@DateTime.Now.ToString("MM/dd/yyyy h:mm:ss tt")
