<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            Hello from index view of Preview Area 
            <partial name="~/Views/Shared/_PersonList.cshtml"></partial>
        </div>
    </body>
</html>